{% extends 'game_streaming_frontend/base.html' %}

{% load bootstrap4 %}

{% block title %}GameStreaming - Log In{% endblock %}

{% block content %}
    <div class="container">
        <div class="mt-5 mx-auto" style="max-width: 300px">
            <div class="card">
                <div class="card-header text-center">Log into Game::Streamer !</div>
                <div class="card-body">
                <form action="#" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <hr>
                    {% bootstrap_button 'Log In' button_type='submit' button_class='btn-primary' extra_classes='btn-block' %}
                </form>
                </div>
            </div>
            <div class="font-weight-light mt-1 text-center">Not registered ? Do it <a href="#">now!</a></div>
        </div>
    </div>
{% endblock %}
