html {
    height: 100vh;
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: calc(3rem + 2em);
    color: #333;
    overflow-x: hidden;
}

.page-footer {
    text-align: center;
    padding: 0.25em;
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 2em;
    font-size: 1em;
}

.index-message {
    background-image: url(https://minecraftwallpapers.files.wordpress.com/2015/05/jrp80jv.jpg);
    background-size: cover;
}
