.game-cover {
    width: 18rem;
    height: 25rem;
    background-size: cover;
    background-position-x: center;
}

.game-details {
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.2);
}

.game-cover:hover .game-details {
    opacity: 1;
    visibility: visible;
    transition-duration: 300ms;
    transition-property: opacity;
}

.game-cover-library .game-description {
    height: 30%;
    position: absolute;
    bottom: 0px;
}
