html {
    height: 100vh;
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;
    color: #333;
}

.page-footer {
    text-align: center;
    padding: 0.25em;
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 2em;
    font-size: 1em;
}
