{% extends 'game_streaming/base.html' %}

{% load bootstrap4 %}

{% block content %}
    <div class="container mt-3">
        {% bootstrap_messages %}
    </div>
    <div class="container mt-5">
        <div class="jumbotron index-message">
            <div class="d-inline-block p-2 mb-3 rounded text-light" style="background-color: rgba(0, 0, 0, 0.5)">
                <h1 class="display-4">Your games, anywhere!</h1>
                <p class="lead">
                    <span class="d-inline-block">Say goodbye to the old way of gaming. </span>
                    <span class="d-inline-block">The future is now!</span>
                </p>
                <hr class="my-4">
                <p>
                    Play hundreds of games when you want and where you want!
                    <br />
                    No downloads, all the games are just a click away!
                    <br />
                    It only takes lightningly-fast FFTH and 99.9$/month! 
                    <span class="d-inline-block">(+ separate games costs)</span>
                </p>
            </div>
            <br />
            <a class="btn btn-primary btn-lg" href="{% url 'market' %}" role="button">Join us now in the game lobby!</a>
        </div>
    </div>
{% endblock %}
