{% extends 'game_streaming/base.html' %}

{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'game_streaming/css/games.css' %}" />
{% endblock %}

{% block content %}
    <div class="d-flex flex-row flex-wrap justify-content-center container mt-5">
        {% for user_game in games %}
            {% with game=user_game.game %}
                {% if not game.is_hidden %}
                    {% include 'game_streaming/game_cover_library.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}
