.game-cover {
    width: 18rem;
    height: 25rem;
    position: relative;
    background-size: cover;
    background-position-x: center;
}

.game-details {
    position: absolute;
    bottom: 0px;
    height: 100%;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.2);
}

.game-cover:hover > .game-details {
    visibility: visible;
}
